.logo {
  height: 40px;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: cornflowerblue;
}

.btn-warning {
  background-color: cornflowerblue;
  border: none;
}

.btn-warning:hover {
  background-color: cornflowerblue;
}
